{% extends "_layouts/main" %}

{% block main %}

  <!-- Wrapper -->
  <section id="wrapper">
    <header>
      <div class="inner">
        {% for entry in craft.entries.section('contact').all() %}
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.subtitle }}</p>
        {% endfor %}
      </div>
    </header>

  <!-- Wrapper -->
  <section id="wrapper">
    <!-- Content -->
    <div class="wrapper">
      <div class="inner">
        {% for entry in craft.entries.section('contact').all() %}
          {{ entry.description }}
        {% endfor %}
          <h3 class="major">Contact Form</h3>


          {% macro errorList(errors) %}
              {% if errors %}
                  <ul class="errors">
                      {% for error in errors %}
                          <li class="alert alert-danger">{{ error }}</li>
                      {% endfor %}
                  </ul>
              {% endif %}
          {% endmacro %}

          {% from _self import errorList %}

          <form method="post" action="" accept-charset="UTF-8">
              {{ csrfInput() }}
              <input type="hidden" name="action" value="contact-form/send">
              {{ redirectInput('contact/thanks') }}


              <div class="row gtr-uniform contact-form">
                <div class="col-6 col-12-xsmall">
                    <label for="from-name">Name</label>
                    <input id="from-name" type="text" name="fromName" class="text-input defaultText required email" value="{{ message.fromName ?? '' }}" class="text-input defaultText required" title="Name (Required)">
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                </div>
                <div class="col-6 col-12-xsmall">
                    <label for="from-email">Email</label>
                    <input id="from-email" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" class="text-input defaultText required email" title="Email (Required)">
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}    
                </div>
                <div class="col-12 col-12-xsmall">
                    <label for="subject">Subject</label>
                    <input id="subject" type="text" name="subject" class="text-input defaultText" value="{{ message.subject ?? '' }}" title="Subject">
                    {{ message is defined and message ? errorList(message.getErrors('subject')) }}    
                </div>
                <div class="col-12 honeypot">
                    <label class="honeypot" for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" class="honeypot"></input>
                </div>
                <div class="col-12">
                    <label for="message">Message</label>
                    <textarea rows="6" cols="40" id="message" name="message" class="text-area required">{{ message.message ?? '' }}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                    </ul>
                </div>
              </div>
            </form>

          </div>
      </div>
{% endblock %}